#title {
    font-size: 30px;
}

.toolbarButton{
    font-size: 40px;
    height: 40px;
    width: 40px;
}

#noInstrumentsTab {
    font-size: 3vw;
}

#noInstrumentsTab > .addIcon {
    margin: 0 1vw 0 1vw;
    font-size: 2.7vw;
    height: 2.7vw;
    width: 2.7vw;
    color: #000;
}

.sidenav {
    padding: 20px 15px 20px 15px;
}

.pianoRoll {
    overflow: hidden;
}

#globalSettings {
    width: 450px;
}

#globalSettings .close {
    font-size: 30px;
    width: 30px;
    height: 30px;
}