<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Calculaural</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <script type="text/javascript" src="./bundle.js"></script>
</head>
<body ng-app="calculaural" ng-controller="mainController" layout="column">
<md-toolbar class="md-toolbar-tools">
    <h1 id="title">Calculaural</h1>
    <toolbar-buttons buttons="toolbarButtons.left"></toolbar-buttons>
    <span flex></span>
    <toolbar-buttons buttons="toolbarButtons.right"></toolbar-buttons>
</md-toolbar>
<md-tabs md-autoselect flex>
    <md-tab ng-if="instrument.list.length < 1" label="Add Instruments" layout="column" flex layout-fill>
        <md-tab-content id="noInstrumentsTab" layout="row" layout-align="center center" flex layout-fill>
            Add an instrument by clicking the
            <md-icon class="addIcon material-icons">add_circle</md-icon>
            button above
        </md-tab-content>
    </md-tab>
    <md-tab
        ng-if="instrument.list.length > 0"
        ng-repeat="iterInstrument in instrument.list track by iterInstrument.id"
        label="{{'Instrument ' + ($index + 1)}}"
        layout="column"
        flex
        layout-fill>

        <md-tab-content ng-controller="instrumentController" layout="row" flex layout-fill>
            <md-sidenav class="sidenav" flex-gt-lg="20" md-is-locked-open="true">
                <settings params="instrument.setting.list" model="iterInstrument"></settings>
            </md-sidenav>
            <piano-roll class="pianoRoll" flex></piano-roll>
        </md-tab-content>
    </md-tab>
</md-tabs>
</body>
</html>